.system-t2k4e .lsnpc {
    /*--check-default: url(../images/check-dark-unchecked.svg);*/
    /*--check-checked: url(../images/check-dark-checked.svg);*/
    --background: #ece9df;
    --checkbox-font: rgba(0, 0, 0, 0.9);
    --checkbox-outline: #969696;
    --checkbox-unchecked: #D8D7D1;
    --checkbox-checked: rgba(0, 255, 0, 0.3);
    --context-outline: rgba(0, 0, 0, 0.4);
    --context-shadow: rgba(0, 0, 0, 0.65);
    --header-background: rgba(255, 255, 255, 0.2);
    --header-border: rgba(0, 0, 0, 0.25);
    --icon-background: #ece9df;
    --icon-shadow: rgba(0, 0, 0, 0.4);
    --icon-outline: rgba(0, 0, 0, 0.4);
    --icon-font: rgba(0, 0, 0, 0.4);
    --icon-hover: rgba(0, 0, 0, 0.9);
    --icon-size: 32px;
    --iconwidth: 32px;
    --prepared: rgba(50, 205, 50, 0.3);
    --prepared-outline: #32cd32;
    --prepared-accent: #adff2f;
    --primary-accent: #ff6400;
    --primary-color: rgba(0, 0, 0, 0.9);
    --secondary-color: rgba(0, 0, 0, 0.65);
    --tertiary-color: rgba(0, 0, 0, 0.4);
    --faint-white: rgba(255, 255, 255, 0.2);
    --linked-accent: rgba(0, 255, 0, 0.75);
    --safe-accent: rgba(0, 150, 100, 0.6);
    --unsafe-accent: rgba(255, 0, 0, 0.6);

}

/** GM specific */
.app.lsnpc .gm-settings .help {
    /*color: var(--primary-font);*/
    font-size: 13px;
    display: inline-block;
}

.app.lsnpc .infobox-wrapper {
    display: inline-block;
}

.app.lsnpc .sheet-infobox {
    display: block;
    position: absolute;
    /*background: var(--background);*/
    /*color: var(--primary-font);*/
    box-shadow: 0 0 4px var(--context-shadow);
    border-radius: 0.3em;
    padding: 0.3em;
    min-width: 25vw;
    max-width: 40vw;
    margin-top: -12%;
    margin-left: 1.6em;
}

.app.lsnpc .sheet-infobox dl {
    display: flex;
}

.app.lsnpc .sheet-infobox dl > * {
    border: 0;
    padding: 0;
    width: 50%;
}

.app.lsnpc .sheet-infobox dl dt {
    width: 25%;
}

.app.lsnpc .sheet-infobox dl dd {
    width: 75%;
}

input#quantity:hover {
    border: 1px solid var(--context-outline);
    box-shadow: 0 0 8px red;
}

input#quantity:focus {
    border: 1px solid var(--context-outline);
    box-shadow: 0 0 8px red;
}

.app.lsnpc .gm-settings .permissiongrid {
    display: grid;
    grid-auto-columns: 0.2fr 0.8fr;
    grid-template-areas: "BULK INDIVIDUAL" "FILTER FILTER";
    gap: 0.5em;
}

.app.lsnpc .gm-settings .permissiongrid .filter {
    grid-area: FILTER;
}

.app.lsnpc .gm-settings .permissiongrid .bulk {
    grid-area: BULK;
}

.app.lsnpc .gm-settings .permissiongrid .individual {
    grid-area: INDIVIDUAL;
}

.app.lsnpc .gm-settings .permissiongrid ul {
    border-radius: 0.4em;
}

.app.lsnpc .gm-settings .permissions-options,
.app.lsnpc .gm-settings .permissions-list {
    align-items: flex-start;
    /*background: var(--header-background);*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 0.5em;
    padding: 0.2em;
    margin: 0;
    overflow-x: auto;
    max-width: 301px;
}

.app.lsnpc .gm-settings .permissions-options a,
.app.lsnpc .gm-settings .permissions-list a {
    /*background: var(--faint-color);*/
    display: block;
    min-height: 1.6em;
    min-width: 1.6em;
    border-radius: 0.5em;
    text-align: center;
}

.app.lsnpc .gm-settings .permissions-options a:hover,
.app.lsnpc .gm-settings .permissions-list a:hover {
    border-color: var(--secondary-color);
    text-shadow: 0 0 8px var(--secondary-color);
}

.app.lsnpc .gm-settings .permissions-options a i,
.app.lsnpc .gm-settings .permissions-list a i {
    line-height: 1.6em;
    text-align: center;
    width: 100%;
}

.app.lsnpc .gm-settings .permissions-options .none-border-permission,
.app.lsnpc .gm-settings .permissions-list .none-border-permission {
    color: var(--primary-accent);
    border-color: var(--primary-accent);
}

.app.lsnpc .gm-settings .permissions-options .observer-border-permission,
.app.lsnpc .gm-settings .permissions-list .observer-border-permission {
    color: var(--prepared);
    border-color: var(--prepared);
}

.app.lsnpc .gm-settings .permissions-options .owner-border-permission,
.app.lsnpc .gm-settings .permissions-list .owner-border-permission {
    color: var(--checkbox-checked);
    border-color: var(--checkbox-checked);
}

.app.lsnpc .gm-settings .permissions-options .permission,
.app.lsnpc .gm-settings .permissions-list .permission {
    flex: 0 0 var(--icon-size);
    position: relative;
}

.app.lsnpc .gm-settings .permissions-options .permission .permission-proficiency,
.app.lsnpc .gm-settings .permissions-list .permission .permission-proficiency {
    width: var(--icon-size);
    height: var(--icon-size);
    /*background: var(--faint-color);*/
    display: block;
}

.app.lsnpc .gm-settings .permissions-options .permission .permission-proficiency > *,
.app.lsnpc .gm-settings .permissions-list .permission .permission-proficiency > * {
    position: absolute;
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
}

.app.lsnpc .gm-settings .permissions-options .permission .permission-proficiency img,
.app.lsnpc .gm-settings .permissions-list .permission .permission-proficiency img {
    z-index: 1;
    border: 1px solid;
}

.app.lsnpc .gm-settings .permissions-options .permission .permission-proficiency i,
.app.lsnpc .gm-settings .permissions-list .permission .permission-proficiency i {
    line-height: var(--icon-size);
    text-align: center;
    z-index: 2;
    font-weight: bolder;
    font-size: 1.8em;
    color: var(--icon-hover);
    text-shadow: 0 0 var(--icon-background);
}

/*.lsnpc.actor .window-content {*/
/*    !*color: var(--primary-font);*!*/
/*    padding: 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    !*background: var(--faintest-color);*!*/
/*}*/

.lsnpc.actor .window-content .hidden {
    display: none;
}

/*.lsnpc.actor .window-content .collapser {*/
/*    position: relative;*/
/*    float: left;*/
/*    flex: none;*/
/*    border: 1px solid var(--faint-white);*/
/*    background: var(--safe-accent);*/
/*    height: fit-content;*/
/*    padding: 0.3em;*/
/*    border-top-right-radius: 0.5em;*/
/*    border-bottom-right-radius: 0.5em;*/
/*    border-left: none;*/
/*    cursor: pointer;*/
/*    z-index: 200;*/
/*}*/
